<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link href="/css/sign.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">

<main class="form-sign w-100 m-auto">
    <form th:action="@{/login}" method="post">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="form-floating form-sign-top">
            <input type="text" id="username" name="username" placeholder="username" required class="form-control">
            <label for="username">Username</label>
        </div>
        <div class="form-floating form-sign-btm">
            <input type="password" id="password" name="password" placeholder="password" required class="form-control">
            <label for="password">Password</label>
        </div>
        <button type="submit" class="btn btn-primary w-100 py-2">Sign in</button>
        <div class="text-center my-2">
            <p class="small fw-bold">
                Don't have an account?
                <a href="/signup" class="link-danger py-2">Sign up</a>
            </p>
        </div>
    </form>
    <div class="form-floating" role="alert">
        <h5 th:if="${param.error}" class="alert alert-danger">Wrong username or password!</h5>
        <h5 th:if="${param.logout}" class="alert alert-success">Successfully signed out!</h5>
    </div>
</main>

<footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>